
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="header">
        <h2>Carousel</h2>
      </ng-template>
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                  <div class="mb-3">
                    <img [src]="product.image" [alt]="product.name" class="product-image" />
                  </div>
  
                    <div class="p-mb-3">
                    </div>
                    <div>
                        <h4 class="p-mb-1">{{product.name}}</h4>
                    </div>
                </div>
            </div>
          
        </ng-template>
    </p-carousel>
    <button pButton  (click)="loadMore()" class="btn-bot">Load More</button>

  


    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>




