<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav" >
  <!-- <a href="#default" class="logo">RevIT</a> -->
  <img alt="My image name" src="./assets/img/logo.png" height="20" width="40">
    <a routerLink="/content" >Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <!-- <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>  -->
    <a href="#about">About</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="test()">&#9776;</a>
  </div>
  

 
