
<app-header></app-header>



<div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>SCIENCE AND TECHNOLOGY</h2>
        <h5>Title description, February 4, 2022</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>	
            OneWeb to test connectivity services in PH rural areas</p>
        <p>MANILA – Global communications firm OneWeb will test its satellite internet services in select remote areas in the country, the Philippine Space Agency (PhilSA) announced on Thursday. Through PhilSA's INCENTIVISE (Introducing Non-Geostationary Satellite Constellations Test Deployments</div>
      <div class="card">
        <h2>SCIENCE AND TECHNOLOGY</h2>
        <h5>Title description, February 4, 2022</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>More investments in pharma needed: DOST chief</p>
        <p>MANILA – Department of Science and Technology (DOST) Secretary Fortunato de la Peña said on Wednesday there is a need for more investments in the pharmaceutical industry.In a public briefing, he said the DOST has been placing huge investments on research and development (R&D)</div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px;">Image</div>
        <p>	
          PH to present various innovations, researches in Dubai Expo.</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg"><p>Image</p></div>
        <div class="fakeimg"><p>Image</p></div>
        <div class="fakeimg"><p>Image</p></div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>
  <app-content></app-content>
<app-footer></app-footer>
